<div class="body">
    <h1>Books</h1>

    <table class="table">
        <thead>
            <tbody>
                <tr>
                  <th>Title</th>
                  <th>Body</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <% @books.each do |book| %>
                        <td><%= book.title %></td>
                        <td><%= book.body %></td>
                        <td><!--空白--></td>
                        <% if @books %>
                        <td><%= link_to "Show", "/books/#{@book.id}" %></td>
                        <td><%= link_to "Edit", "/books/#{book.id}/edit" %></td>
                        <td>
                            <%= link_to "Destroy", "/books/destroy" %></td>
                        <% end %>
                    <% end %>
                </tr>
            </tbody>
        </thead>
    </table>
    
    <h2>New book</h2>
    <div class="new_book">
        <%= form_with model:@book, local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Body</p>
        <%= f.text_area :body %>
        <%= f.submit "Create Book" %>
        <% end %>
    </div>
</body>